<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-Ers19wTCk1JVULLhQAgDA2zwB8cCNoo</string>
	<key>GCM_SENDER_ID</key>
	<string>526538284617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sheakh.USA-News-Live</string>
	<key>PROJECT_ID</key>
	<string>usa-news-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>usa-news-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526538284617:ios:dadd6a7be784438f91a998</string>
	<key>DATABASE_URL</key>
	<string>https://usa-news-ios-default-rtdb.firebaseio.com</string>
</dict>
</plist>